   
html{
    height:100%;
    cursor: url(./resources/aim1.png) 50 50, default;
}

/* html:hover{
    cursor: url('resources/aim.png'),url('aim.cur') 15 15,default;
} */
    


.body_{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
    height:100vh;
    background-image:url(resources/board-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  
    /* cursor: url('file:///home/urszula/html/WDAI/game/resources/aim.png'), help; */

    /* background-color: red; */
}

.board{
    margin:0;
    padding:0;
    /* position: absolute; */
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height:100vw;
    width:100%;    




}

#hearts{
    top:50px;
    left:50px;
    position: fixed;
    display: flex;
    justify-content:left;
    align-items: left;
}

.heart{
    width:auto;
    height:80px;
}

#btn{
    align-self: center;
    cursor: url(./resources/aim1.png) 50 50, default;
}
/* #board_img{
    position: absolute;
    align-self: center;
    width:100%;


} */

#point_counter a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top:50px;
    right:50px;
    position: fixed;
    color: white;
    font-size:70px;
    display: flex;
    justify-content:right;
    align-items: right;
}

#test{
    position: absolute;
    height:1000px;
    width:1000px;
    /* z-index: 10000; */
}

#cursor{
    width: 30px;
    height: 30px;
    background-color:rgba(250, 128, 114, 0.774);
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fa8072;
    transform: translate(-50%,-50%);
}

.move{
    bottom: 15%;
    position: absolute;
    -webkit-animation: linear 1;
    -webkit-animation-name: moveLeft;
    -webkit-animation-duration: 20s;
}
@keyframes moveLeft {
    0%{
        left:100%;
    }
    100%{
        left:0;
        webkit-transform: scaleX(-1);
    }
  }

.zombies {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:312px;
    width: 200px;
    background-image: url("resources/walkingdead.png"); 
    background-size: cover;
    animation: animate 2s steps(10) infinite ; 
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes animate {
  from {background-position: 0px;}
  to {background-position: -2000px;}
}




