*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.com
*.class
*.dll
*.exe
*.o
*.so


.idea/
.vscode/
__pycache__/
.tox/
.coverage
.coverage.*
htmlcov/
docs/_build/
dist/
venv/

node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

